<div class="header--wrapper">
    <div class="header__layout">
        <div class="header__toolbar">
            <div class="header__toolbar--menu">
                <md-button class="md-icon-button md-primary" aria-label="Menu" ng-click="$ctrl.openMenu()">
                    <md-icon md-svg-icon="ic_menu"></md-icon>
                </md-button>
            </div>
            <div class="header__toolbar--wrapper">
                <div class="header__brand">
                    <div class="header__brand-title">
                        <span class="header__brand-title--1">WE'RE</span>
                        <span class="header__brand-title--2">TYING</span>
                    </div>
                    <div class="header__brand-work">
                        <span class="header__brand-work--1">THE</span>
                        <span class="header__brand-work--2">KNOT!</span>
                    </div>
                </div>
            </div>
            <div class="header__brand-placeholder">

            </div>
            <div class="header__brand-logo">
                <div class="header__brand-logo--wrapper">

                </div>
            </div>
            <div class="header__navigation">
                <div class="header__navigation--wrapper">


                </div>
                <div class="header__navigation--links">
                    <div class="header__link-items">
                        <ul class="header__link-items--wrapper">
                            <li class="header__link-item">
                                <div class="header__link-item--wrapper">
                                    <a href="#invite" du-smooth-scroll du-scrollspy class="header__link-item--link">INVITE</a>
                                </div>
                            </li>
                            <li class="header__link-item">
                                <div class="header__link-item--wrapper">
                                    <a href="#timeline" du-smooth-scroll du-scrollspy class="header__link-item--link">TIMELINE</a>
                                </div>
                            </li>
                            <li class="header__link-item">
                                <div class="header__link-item--wrapper">
                                    <a href="#wedding" du-smooth-scroll du-scrollspy class="header__link-item--link">WEDDING</a>
                                </div>
                            </li>
                            <li class="header__link-item">
                                <div class="header__link-item--wrapper">
                                    <a href="#reception" du-smooth-scroll du-scrollspy class="header__link-item--link">RECEPTION</a>
                                </div>
                            </li>
                            <li class="header__link-item">
                                <div class="header__link-item--wrapper">
                                    <a href="#photography" du-smooth-scroll du-scrollspy class="header__link-item--link">PHOTOGRAPHY</a>
                                </div>
                            </li>
                            <li class="header__link-item">
                                <div class="header__link-item--wrapper">
                                    <a href="#comments" du-smooth-scroll du-scrollspy class="header__link-item--link">COMMENTS</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
